#board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}
.cell{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
}

.err-msg{
   opacity: 1;
   transition: opacity 1s ease-out;
}

.err-msg.fade-out{
    opacity: 0;
}